.custom-color{
  background-color: white;
}
.card{
  width: 300px;
  height: 350px;
  margin: 200px auto 250px auto; /* top right bottom left*/
  background-color:black; 
  border-radius:12px;
  box-shadow: 5px 5px 5px #2878E4 ;
}
.background-pic{
  background-image: url("/static/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
}