<head>
  <style>
    .custom-color{
      border-color:black;
    }
    .custom-color:hover{
      color:red !important;
    }
      .navbar {
        background-color:black !important;
        position:fixed;
        width:100%;
      }
    .btn{
      color:white !important;
      border-color:black !important;
    }
    
  </style>
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary "  style="background-color: red;>

  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="/static/download.png" width="50" height="auto" alt="Logo" style="border-radius:12px; margin-left:6px;">
    </a>
    <a class="navbar-brand " href="#" style="color:white;">Valorant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="https://playvalorant.com/en-gb/" aria-current="page" href="#" style="color:white;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://tracker.gg/valorant/profile/riot/MASAB%236361/overview?season=all" style="color:white;">Link</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success custom-color" type="submit" style=hover >Search</button>
      </form>
    </div>
  </div>
</nav>