<head>
  <style>
    .centered{
      height: 100vh; /* Full viewport height */
      display: flex;
      justify-content: center; 
      align-items: center; 
    }
  .btn{
    color:white;
    background-color:red;
    border-color:black !important;
  }
    .btn:hover{
      background-color:white;
      color:red !important;
      border-color:white !important;
    }
    
  </style>
</head>
  <div class="centered">
    <div style="color:white;">
  <body class="text-center">
    <form class="form-signin" method="post">
      {% if mesage is defined and mesage %}
        <div class="alert alert-warning">{{ mesage }}</div>
      {% endif %}
      <label for="inputEmail" class="sr-only mb-2"><b>Email</b></label>
      <input type="email" id="inputEmail" class="form-control mb-4" placeholder="Email" name="email" required autofocus>
      <label for="inputEmail" class="sr-only mb-2"><b>Username</b></label>
      <input type="text" id="inputEmail" class="form-control mb-4" placeholder="Username" name="username" required autofocus>
      <label for="inputPassword" class="sr-only mb-1"><b>Password</b></label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
      <label for="inputPassword" class="sr-only mb-1 mt-4"><b>Confirm Password</b></label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Re-type Password" name="confirm_pwd" required>

      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Create Account</button>
      <h6 class="mt-4"> Already have an account? :  <a href="/" style="color:white;"><b>login</b></a> </h6> 
     
    </form>
  </body>
    </div>
    </div>